.budgetInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

section{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.budgetItem{
    background: #7DA297;
    border-radius: 10px;
    display: flex;
    font-size: 1.5em;
    padding: 0.5em;
    margin-bottom: 1em;
    align-items: center;
}

.budget{
    width: 65vw;
    margin-top: 3em;
}

.name{
    width: 75%;
}

.cost{
    width: 17%;
}

.delete{
    font-size: 0.5em;
    justify-content: space-around;
    display: flex;
    width: 8%;
}

#baInput{
    width: 16%;
    margin-right: 0em;
    background: #7DA297;
    border-radius: 10px;
}

#bcInput{
    width: 17%;
    margin-left: 0em;
    margin-right: 0em;
    border-radius: 10px;
    background: #B2D9CD;
}

#bnInput{
    width: 60%;
    margin-left: 0em;
    border-radius: 10px;
    background: #B2D9CD;
}

.addBudgetItem{
    margin-top: 4em;
}

